extends layout


block content
  div.title-container
    h1= title
    p Welcome to #{title}
  div.message-container
    each val in data
      div.message
        div.message-header
          h3= val.user 
          p= val.text
        div.message-footer
          p= val.added
  .new-message-container 
    //- button(href='./new' class='new-message-button') Add a New Message
    button( class='new-message-button') 
      a(href='./new') Add a New Message

